{% extends 'control-panel/index.html.twig'%}


{% block content %}
<div class="container bg-light">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8" style="min-width: 300px;">


            {{ form_start(form,
                {
                    'method': form.vars.method,
                    'attr': {
                    'id': form.vars.id,
                    'class': 'w-100'
                }
                }
            ) }}

            <h4 class="mt-3">{{ form.biography.vars.label }}</h4>
            <span class="text-secondary">{{ form.biography.vars.help }}</span>
            {{ form_row(form.biography,
                {
                    'label': false,
                    'help': false,
                    'attr': {
                    'class': 'd-none'
                }
                }
            ) }}
            <div
                id="editor-for-{{ form.biography.vars.id }}"
                class="editor-wysiwyg min-h-60"
            ></div>

            {% if form._token is defined %}
                {{ form_row(form._token) }}
            {% endif %}
            {{ form_row(form.actionBtn) }}
            {{ form_end(form, {'render_rest': false}) }}
            <hr class="mb-3">
            {% include 'control-panel/form-submit-navigation-horizontal-only.html.twig' with {'form': form, 'actions': formActions} only %}

        </div>
    </div>

</div>

{% include 'control-panel/form-submit-navigation-with-sidebar.html.twig' with {'form': form, 'actions': formActions} only %}

{% endblock %}
