{% extends 'control-panel/index.html.twig'%}


{% block content %}
    <div class="container pt-2 pt-lg-5 bg-light">
        <div class="row justify-content-center">

            <div class="col-md-8 col-lg-5">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ user.username }}</li>

                    {% if user.firstname is not null or user.lastname is not null %}
                        <li class="list-group-item">{{ user.firstname }} {{ user.lastname }}</li>
                    {% endif %}

                    <li
                        class="list-group-item"

                        {% if user.isEmailVerified == false %}
                        {% endif %}
                    >
                        {% if user.isEmailVerified %}
                            <div
                                title="Confirmed"
                            >
                                <span>
                                    {{ user.email }}
                                </span>
                                <svg class="bi bi-small"><use xlink:href="#checked"/></svg>

                            </div>

                        {% else %}
                            <a
                                href="{{ absolute_url(path('cp_user_verify_email', {'user': user.username})) }}"
                                class="text-danger text-decoration-none"
                                title="Verify email"
                            >
                                <span>
                                    {{ user.email }}
                                </span>
                                <svg class="bi bi-small"><use xlink:href="#block"/></svg>
                            </a>
                        {% endif %}
                    </li>
                    <li class="list-group-item">{% if user.isActive %}Active{% else %}Not Active{% endif %}</li>
                    <li class="list-group-item">{% if user.isBanned %}Banned{% else %}Not Banned{% endif %}</li>
                </ul>

                {% if user.id == app.user.id %}
                    <div class="d-flex justify-content-end align-items-center bg-light">
                        {% if user.isRoleAdmin %}
                            <a
                                href="{{ absolute_url(path('admin_panel_dashboard')) }}"
                                type="button"
                                class="btn btn-primary rounded-0"
                            >
                                admin <svg class="bi bi-small"><use xlink:href="#link-redirect"/></svg>
                            </a>
                        {% endif %}

                        <a
                            href="{{ absolute_url(path('cp_user_edit', {'user': user.username})) }}"
                            type="button"
                            class="btn btn-primary rounded-0"
                        >
                            <svg class="bi bi-small"><use xlink:href="#edit"/></svg>
                        </a>

                        <a
                           href="{{ absolute_url(path('security_logout')) }}"
                           class="btn btn-primary rounded-0 ms-1"
                        >
                            Logout
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container pt-2 pt-lg-5 bg-light">
        <div class="row d-flex flex-column align-items-center justify-content-center">
            {% for googler in googleUsers %}
                <div class="col-md-8 col-lg-5 d-flex align-items-center mb-4">
                    <div class="flex-shrink-0">
                        {% if googler.avatar is not null %}
                            <img src="{{ googler.avatar }}" alt="google account avatar" class="img-fluid rounded-circle border border-light border-3" style="width: 5.5em;">
                        {% endif %}
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <div class="d-flex flex-row align-items-center mb-2">
                            <svg class="bi bi-small"><use xlink:href="#social-google"/></svg>
                            <p class="mb-0 ms-2">{{ googler.email ? googler.email : googler.fullname }}</p>
                        </div>
                        <div class="">
                            <a
                                href="{{ absolute_url(path('cp_user_social_disconnect', {'user': user.username, 'socialType': 'google', 'socialId': googler.id})) }}"
                                class="btn btn-sm btn-outline-danger" type="button"
                            >Disconnect</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% for linkedInor in linkedinUsers %}
                <div class="col-md-8 col-lg-5 d-flex align-items-center mb-4">
                    <div class="flex-shrink-0">
                        {% if linkedInor.avatar is not null %}
                            <img src="{{ linkedInor.avatar }}" alt="google account avatar" class="img-fluid rounded-circle border border-light border-3" style="width: 5.5em;">
                        {% endif %}
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <div class="d-flex flex-row align-items-center mb-2">
                            <svg class="bi bi-small"><use xlink:href="#social-linkedin"/></svg>
                            <p class="mb-0 ms-2">{{ linkedInor.email ? linkedInor.email : linkedInor.fullname }}</p>
                        </div>
                        <div class="">
                            <a
                                href="{{ absolute_url(path('cp_user_social_disconnect', {'user': user.username, 'socialType': 'linkedin', 'socialId': linkedInor.id})) }}"
                                class="btn btn-sm btn-outline-danger" type="button"
                            >Disconnect</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
