<!-- Hire Me -->
<div
    class="
        widget--{{ form.vars.id }}-{{ suffix }}
        mx-auto
        d-flex
        flex-column
        justify-content-between
        align-content-between
        gap-2
    "
>
    {{ form_start(form, {'method': form.vars.method, 'attr': {'id': form.vars.id}}) }}
    {{ form_row(form.clientEmail) }}

    {{ form_row(form.clientName) }}

    {{ form_row(form.projectDescription) }}

    <div
        id="widget--{{ form.vars.id }}-error-{{ suffix }}"
        class="border-1 border-black border p-2 my-2 mb-3 rounded-0 mx-auto d-none"
    >asfd</div>
    <button
        type="submit"
        form="{{ form.vars.id }}"
        value="save"
        class="btn btn-primary rounded-0 text-nowrap formSubmit mx-auto d-block w-100"
        data-message-target="#widget--{{ form.vars.id }}-error-{{ suffix }}"
    >
        Request Call Back
    </button>
    <div class="d-none">
        {{ form_rest(form) }}
    </div>
    {{ form_end(form) }}
</div>
