{% extends 'control-panel/index.html.twig' %}

{% block content %}
<div class="container pt-2 pt-lg-5 bg-light py-5">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8" style="min-width: 300px;">
            <h1>Cover Letter AI Writer</h1>

            {{ form_start(editForm,
                {
                    'method': editForm.vars.method,
                    'attr': {
                    'id': editForm.vars.id,
                    'class': 'w-100'
                }
                }
            ) }}

            {{ form_errors(editForm) }}

            {{ form_row(editForm.coverLetter.title) }}

            {{ form_row(editForm.resume) }}

            {{ form_row(editForm.employer) }}

            {{ form_row(editForm.coverLetter.content,
                {
                    'label': false,
                    'attr': {
                    'class': 'd-none'
                }
                }
            ) }}
            <div
                id="editor-for-{{ editForm.coverLetter.content.vars.id }}"
                class="editor-wysiwyg"
            ></div>

            {{ form_row(editForm._token) }}
            {{ form_end(editForm, {'render_rest': false}) }}
            <div
                class="d-none d-sm-flex flex-row justify-content-center align-items-center px-0 mx-0"
            >

                <button
                    class="btn btn-primary rounded-0"
                    form="{{ editForm.vars.id }}"
                >
                    Save
                </button>
                <button
                    class="btn btn-primary rounded-0 ms-2"
                    form="{{ editForm.vars.id }}"
                >
                    Preview
                </button>
                <button
                    class="btn btn-primary rounded-0 ms-2"
                    form="{{ editForm.vars.id }}"
                >
                    PDF
                </button>
            </div>
        </div>

    </div>
</div>

    <nav
        id="section--resume-edit-sidebar-nav"
        class=" action-btn-nav sidebar center left position-fixed d-none d-sm-flex d-flex flex-column justify-content-start align-items-start"
    >
        <button
            class="btn btn-primary bg-primary-hover rounded-0 mb-2 position-relative"
            form="{{ editForm.vars.id }}"
        >
            Save
        </button>
        <button
            class="btn btn-primary rounded-0 mb-2 position-relative"
            form="{{ editForm.vars.id }}"
        >
            Preview
        </button>
        <button
            class="btn btn-primary rounded-0 mb-2 position-relative"
            form="{{ editForm.vars.id }}"
        >
            PDF
        </button>
    </nav>

    <nav
        id="section--resume-edit-bottom-nav"
        class="action-btn-nav bottom left d-sm-none position-fixed d-flex flex-row justify-content-between align-items-center bg-light px-2"
    >
        <button
            class="btn btn-primary rounded-0 position-relative"
            form="{{ editForm.vars.id }}"
        >
            Save
        </button>
        <button
            class="btn btn-primary rounded-0 position-relative"
            form="{{ editForm.vars.id }}"
        >
            Preview
        </button>
        <button
            class="btn btn-primary rounded-0 position-relative"
            form="{{ editForm.vars.id }}"
        >
            PDF
        </button>
    </nav>

{% endblock %}
