{% extends 'base.html.twig'%}
{% set articlePrefix='resume--' %}

{% block content %}
<div class="container">
    <article class="mx-auto">

    </article>


            <div class="row">
                <div class="section--left-pane col-md-3">

                    <div class="block--avatar">
                        <img
                            class="rounded-circle w-100"
                            src="{{ absolute_url(asset(data.avatar.url, 'img')) }}"
                            title="{{ data.avatar.title }}"
                            alt="{{ data.avatar.alt }}"
                        />
                    </div>

                    <div class="block--details">
                        <h3>Details</h3>
                        <ul class="list-unstyled">
                            {% for key,contact in data.contacts %}
                            <li class="py-1 d-flex flex-row justify-content-between align-items-center">
                                <label class="text-bold">{{ contact.label|capitalize }}</label>
                                <span>{{ contact.value }}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="block--social-links">
                        <ul class="list-unstyled">
                            {% for key,social in data.socials %}
                                <li class="py-1 d-flex flex-row justify-content-between align-items-center">
                                    <label class="text-bold">
                                        {{ social.label|capitalize }}
                                        {% if social.icon %}
                                            <svg class="bi bi-small"><use xlink:href="#social-{{ social.icon }}"/></svg>
                                        {% endif %}
                                    </label>

                                    {% if social.nickname is defined %}
                                        <a
                                            href="{{ social.link }}"
                                            class=" text-decoration-none text-black"
                                            target="_blank"
                                        >
                                            @{{ social.nickname }}
                                            <svg class="bi bi-small"><use xlink:href="#box-arrow-up-right"/></svg>
                                        </a>
                                    {% else %}
                                        <a
                                            href="{{ social.link }}"
                                            class="text-wrap text-decoration-none text-black"
                                            target="_blank"
                                        >
                                            {{ social.link }}
                                        </a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="block--skills">
                        <h3>Skills</h3>
                        <ul class="list-unstyled list-row d-flex flex-row justify-content-start align-items-center flex-wrap">
                            {% for key,skill in data.skills %}
                            <li>
                                {{ skill }},
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="block--languages">
                        <h3>Languages</h3>
                        <ul class="list-unstyled">
                            {% for key,language in data.languages %}
                            <li class="py-1 d-flex flex-row justify-content-between align-items-center">
                                <label class="text-bold">{{ language.label|capitalize }}</label>
                                {{ language.value }}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>

                <div class="section--right-pane col-md-9">
                    <h1 class="text-center">{{ data.title.position }}</h1>
                    <h2 class="text-center">{{ data.owner.fullName }}</h2>

                    <div class="block--summary">

                    </div>

                    <div class="block--employment-history">

                    </div>

                    <div class="block--education-history">

                    </div>

                </div>
            </div>

</div>
{% endblock %}

{% block footer %}
{% endblock %}
