<div
    class="col-12 col-md-6 px-2"
>
    <div class="card p-1 rounded-0">

    {% if employment.employer.title is defined %}
        <span>{{ employment.employer.title }}</span>
    {% endif %}
    <div>
        <a
            href="{{ absolute_url(path('cp_employment_edit', {'employment': employment.id})) }}"
            class="text-decoration-none text-black fs-5"
        >
            <span>{% if employment.jobTitle %}{{ employment.jobTitle }}{% else %}Untitled{% endif %}</span>
            <svg class="bi bi-small bi-fix pointer-primary"><use xlink:href="#edit"></use></svg>
        </a>
    </div>
    <div>
        <span>{% if employment.projectTitle %}{{ employment.projectTitle }}{% endif %}</span>
    </div>
    <div>
        <span>Location</span>{{ text_inline_divider }}
        <span>published at</span>{{ text_inline_divider }}
        <span class="badge text-bg-info">status</span>
    </div>

    {% if employment.formats|length > 0 %}
        <div>
            <svg class="bi bi-small"><use xlink:href="#suitcase"/></svg>
            {% for format in employment.formats %}
                {% if loop.index != 1 %}{{ text_inline_divider }}{% endif %}
                <span class="badge text-bg-success">{{ format }}</span>
            {% endfor %}
        </div>
    {% endif %}

    {% if employment.employer.contactPerson is defined %}
        <div>
            <span>Contact person:</span>
            {{ employment.employer.contactPerson.firstName }}
            {{ employment.employer.contactPerson.lastName }}
            {% if employment.employer.contactPerson.email %}
                {{ text_inline_divider }}
                {{ employment.employer.contactPerson.email }}
            {% endif %}
            {% if employment.employer.contactPerson.phone %}
                {{ text_inline_divider }}
                {{ employment.employer.contactPerson.phone }}
            {% endif %}
        </div>
    {% endif %}

    {% if employment.skills|length > 0 %}
        <hr>
        <div>
            <h3>Used skills:</h3>
            {% for skill in employment.skills %}
                {% if loop.index != 1 %}{{ text_inline_divider }}{% endif %}
                <span class="badge text-bg-secondary">{{ skill }}</span>
            {% endfor %}
        </div>
    {% endif %}

    </div>
</div>
