{% extends 'control-panel/index.html.twig'%}

{% block content %}
<div class="container py-2">
    <div class="row justify-content-center">

        {{ form_start(skillsForm,
            {
                'method': skillsForm.vars.method,
                'action': absolute_url(path('cp_skill_edit')),
                'attr': {
                'id': skillsForm.vars.id,
                'class': 'col-12 col-md-6 mb-3 p-2'
            }
            }
        ) }}
        <div class="bg-light p-3">
            <div class="row">
                <div class="col-12">
                    <h1 class="fs-5">{{ skillsForm.skills.vars.label }}</h1>
                    <span class="text-muted text-small">{{ skillsForm.skills.vars.help }}</span>
                </div>
            </div>

            <div class="row">
                <div class="col-10">
                    {{ form_start(skillsForm,
                        {
                            'method': skillsForm.vars.method,
                            'action': absolute_url(path('cp_skill_edit')),
                            'attr': {
                            'id': skillsForm.vars.id,
                        }
                        }
                    ) }}
                    {{ form_errors(skillsForm) }}

                    {{ form_row(skillsForm.skills, {'label': false, 'help': false}) }}

                    {% if skillsForm._token is defined %}
                        {{ form_row(skillsForm._token) }}
                    {% endif %}
                    {% if skillsForm.actionBtn is defined %}
                        {{ form_row(skillsForm.actionBtn) }}
                    {% endif %}
                </div>
                <div class="col-2">
                    {% include 'control-panel/form-submit-navigation-horizontal-only.html.twig' with {'form': skillsForm, 'actions': skillsFormActions} only %}
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    {% for skill in mySkills %}
                        <span class="badge bg-badge-success">
                            <span>{{ skill }}</span>
                            <a
                                role="button"
                                class="text-decoration-none text-white ms-1"
                            >
                                <svg class="bi bi-small"><use xlink:href="#remove"/></svg>
                            </a>

                        </span>
                    {% endfor %}
                </div>
            </div>
        </div>
        {{ form_end(skillsForm, {'render_rest': false}) }}

        <div class="col-12 col-md-6 p-2">
            <div class="bg-light p-3">
            {% if employerSkills|length > 0 %}
                <div>
                    <p class="my-1">
                        {{ skillsMatched }} of {{ employerSkills|length }} in-demand skills in jobs I applied to:
                    </p>
                    {% for skill in employerSkills %}
                        <span
                            class="
                                badge
                                {% if skill.match %}bg-badge-success{% else %}bg-badge-primary{% endif %}
                            "
                        >
                            {{ skill.title }}
                        </span>
                    {% endfor %}
                </div>
            {% endif %}
            </div>
        </div>

    </div>
</div>

    {% include 'control-panel/form-submit-navigation-with-sidebar.html.twig' with {'form': skillsForm, 'actions': skillsFormActions} only %}
{% endblock %}
