{% if actions is defined and actions|length > 0 %}
<nav
    id="section--edit-sidebar-nav"
    class=" action-btn-nav sidebar center left position-fixed d-none d-sm-flex d-flex flex-column justify-content-start align-items-start"
>
    {% if 'save' in actions %}
    <button
        class="btn btn-primary bg-primary-hover rounded-0 mb-2 position-relative target-value-change"
        form="{{ form.vars.id }}"
        {% if form.actionBtn is defined %}
            data-target-value="save"
            data-target="{{ form.actionBtn.vars.id }}"
        {% endif %}
    >
        Save
    </button>
    {% endif %}
    {% if 'preview' in actions %}
    <button
        class="btn btn-primary rounded-0 mb-2 position-relative target-value-change"
        form="{{ form.vars.id }}"
        {% if form.actionBtn is defined %}
            data-target-value="preview"
            data-target="{{ form.actionBtn.vars.id }}"
        {% endif %}
    >
        Preview
    </button>
    {% endif %}
    {% if 'view' in actions %}
    <button
        class="btn btn-primary rounded-0 mb-2 position-relative target-value-change"
        form="{{ form.vars.id }}"
        {% if form.actionBtn is defined %}
            data-target-value="view"
            data-target="{{ form.actionBtn.vars.id }}"
        {% endif %}
    >
        View
    </button>
    {% endif %}
    {% if 'pdf' in actions %}
    <button
        class="btn btn-primary rounded-0 mb-2 position-relative target-value-change"
        form="{{ form.vars.id }}"
        {% if form.actionBtn is defined %}
            data-target-value="pdf"
            data-target="{{ form.actionBtn.vars.id }}"
        {% endif %}
    >
        PDF
    </button>
    {% endif %}
</nav>

<nav
    id="section--edit-bottom-nav"
    class="action-btn-nav bottom left d-sm-none position-fixed d-flex flex-row justify-content-between align-items-center bg-light px-2"
>
    {% if 'save' in actions %}
    <button
        class="btn btn-primary rounded-0 position-relative target-value-change"
        form="{{ form.vars.id }}"
        {% if form.actionBtn is defined %}
            data-target-value="save"
            data-target="{{ form.actionBtn.vars.id }}"
        {% endif %}
    >
        Save
    </button>
    {% endif %}
    {% if 'preview' in actions %}
    <button
        class="btn btn-primary rounded-0 position-relative target-value-change"
        form="{{ form.vars.id }}"
        {% if form.actionBtn is defined %}
            data-target-value="preview"
            data-target="{{ form.actionBtn.vars.id }}"
        {% endif %}
    >
        Preview
    </button>
    {% endif %}
    {% if 'view' in actions %}
    <button
        class="btn btn-primary rounded-0 position-relative target-value-change"
        form="{{ form.vars.id }}"
        {% if form.actionBtn is defined %}
            data-target-value="view"
            data-target="{{ form.actionBtn.vars.id }}"
        {% endif %}
    >
        View
    </button>
    {% endif %}
    {% if 'pdf' in actions %}
    <button
        class="btn btn-primary rounded-0 position-relative target-value-change"
        form="{{ form.vars.id }}"
        {% if form.actionBtn is defined %}
            data-target-value="pdf"
            data-target="{{ form.actionBtn.vars.id }}"
        {% endif %}
    >
        PDF
    </button>
    {% endif %}
</nav>>
{% endif %}
