<div>
    <h1 class="fs-5 my-3 w-100 text-start mb-3">
        {{ coverLetter.title ?? 'Untitled' }}
    </h1>

    <div class="">
        <svg class="bi bi-small text-secondary"><use xlink:href="#suitcase"></use></svg>
        {% if coverLetter.jobTitle %}
            <span class="pe-1 ">
                <span class="ps-0 inline-divider text-secondary">{{ text_inline_divider }}</span>
                as <span>{{ coverLetter.jobTitle }}</span>
            </span>
        {% endif %}
    </div>

    {% if coverLetter.employer %}
        <div class="mb-3">
            {% if coverLetter.employer.title is defined %}
                <h2 class="fs-5">{{ coverLetter.employer.title }}
                    {% if coverLetter.employer.aboutPage %}
                        <a
                            href="{{ coverLetter.employer.aboutPage }}"
                            class="text-decoration-none text-black fs-6"
                        >
                            <svg class="bi bi-small bi-fix pointer-primary"><use xlink:href="#view"></use></svg>
                        </a>
                    {% endif %}
                </h2>
            {% endif %}
        </div>
    {% endif %}
</div>
