{% set articlePrefix='cover-letter--' %}
<svg xmlns="http://www.w3.org/2000/svg"
     class="d-none"
>
    <symbol
        id="location"
        fill="currentColor"
        viewBox="0 0 16 16"
    >
        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
    </symbol>
    <symbol
        id="email"
        fill="currentColor"
        viewBox="0 0 16 16"
    >
        <path d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2zm-2 9.8V4.698l5.803 3.546zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.5 4.5 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586zM16 9.671V4.697l-5.803 3.546.338.208A4.5 4.5 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671"/>
        <path d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791"/>
    </symbol>
</svg>

<div class="container">
    <section class="{{ articlePrefix }}header-wrapper">
        <div class="row align-items-center">
            <div
                class="
                    {{ articlePrefix }}avatar
                    col-12
                    text-center
                    p-0
                "
            >
                <img
                    class="rounded-circle w-100"
                    src="{{ fileGetContent(asset(avatarPath, 'img')) }}"
                    title="{{ dto.sender.firstName ?? '' }} {{ dto.sender.lastName ?? '' }}"
                    alt="{{ dto.sender.firstName ?? '' }} {{ dto.sender.lastName ?? '' }}"
                />
            </div>
        </div>

        <div class="row align-items-center">
            <div
                class="
                    {{ articlePrefix }}title
                    col-12
                "
            >
                <h1 class="text-uppercase text-center text-bold h1 text-primary">{{ dto.sender.firstName ?? '' }} {{ dto.sender.lastName ?? '' }}</h1>
                <div class="text-center">
                    {% if (dto.sender.contacts.location ?? null) is not null %}
                        <div class="d-inline-block">
                            <svg class="bi bi-small bi-fix me-1 text-primary"><use xlink:href="#location"/></svg>

                            {% if dto.sender.contacts.location.country %}
                                <div class="d-inline-block">
                                    <span class="px-0 inline-divider">{{ text_inline_divider }}</span>
                                    <span class="px-0 me-1 text-black">{{ dto.sender.contacts.location.country }}</span>
                                </div>
                            {% endif %}
                            {% if dto.sender.contacts.location.city %}
                                <div class="d-inline-block">
                                    <span class="px-0 inline-divider">{{ text_inline_divider }}</span>
                                    <span class="px-0 me-1 text-black">{{ dto.sender.contacts.location.city }}</span>
                                </div>
                            {% endif %}
                            {% if dto.sender.contacts.location.region %}
                                <div class="d-inline-block">
                                    <span class="px-0 inline-divider">{{ text_inline_divider }}</span>
                                    <span class="px-0 me-1 text-black">{{ dto.sender.contacts.location.region }}</span>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if (dto.sender.contacts.email ?? null) is not null %}
                        <div class="d-inline-block ms-3">
                            <svg class="bi bi-small bi-fix me-1 text-primary"><use xlink:href="#email"/></svg>
                            <span class="px-0 inline-divider">{{ text_inline_divider }}</span>
                            <span class="px-0 me-1 text-black">{{ dto.sender.contacts.email }}</span>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    {% if dto.content is not null %}
    <section class="{{ articlePrefix }}content-wrapper pt-3 px-5 lh-base">
        <div class="row align-items-center">
            <div class="col-12 px-5 pb-0">{{ dto.content|markdown_to_html }}</div>
        </div>
        <div class="row align-items-center">
            <div class="col-12 p-5 pt-3">
                Best regards,<br>
                {% if dto.sender is not null %}
                    {{ dto.sender.firstName ?? '' }} {{ dto.sender.lastName ?? '' }}
                {% endif %}
            </div>
        </div>
    </section>
    {% endif %}
</div>
