<div class="row justify-content-center">

    <div class="col-12 m-2">
        <div
            class="
                d-flex
                flex-row
                justify-content-start
                align-items-center
                bg-white
                p-2
                mt-0
            "
        >
            <a
                class="me-3"
                href="{{ absolute_url(path('cp_resume_add')) }}"
            >
                <svg class="bi bi-small" style="width:2.1em;height:2.1em;"><use xlink:href="#add"/></svg>
            </a>
            <h5 class="card-title me-3">New Resume</h5>
            <p class="card-text text-secondary">Create a tailored resume for each job application. Double your chances of getting hired!</p>
        </div>
    </div>

    {% for resume in resumes %}
    <div class="col-12 col-lg-5 card m-2 p-0 border-0 rounded-0" style="max-width: 34em;">
        <div class="row g-0">
            <div
                class="col-12 col-sm-6 d-none d-sm-grid"
            >
                <a
                    class="img-thumbnail rounded-0"
                    href="{{ absolute_url(path('cp_resume_edit', {'resume': resume})) }}"
                >
                    <div
                        class="w-100 h-100"
                        style="
                        {% if resume.thumbnail is not null %}
                            background-image: url({{ absolute_url(path('media_show', {'media': resume.thumbnail})) }});
                        {% else %}
                            background-image: url({{ absolute_url(asset('landing/hero-resume-screen.png', 'img')) }});
                        {% endif %}
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: top left;
                        "
                    >

                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ resume.title ?? 'Untitled' }}
                    </h5>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            <a
                                href="{{ absolute_url(path('cp_resume_edit', {'resume': resume})) }}"
                                class="text-secondary text-decoration-none"
                            >Edit</a>
                        </li>
                        <li class="mb-2">
                            <a
                                href="#"
                                class="text-black text-decoration-none"
                            >Download PDF</a>
                        </li>
                        <li class="mb-2">
                            <a
                                href="#"
                                class="text-black text-decoration-none"
                            >Tailor to job</a>
                        </li>
                        <li class="mb-2">
                            <a
                                href="#"
                                class="text-black text-decoration-none"
                            >Make a copy</a>
                        </li>
                        <li class="mb-2">
                            <a
                                href="#"
                                class="text-secondary text-decoration-none"
                            >Delete</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
