{% extends 'control-panel/index.html.twig'%}

{% block headstylesheets %}
    <link rel="stylesheet" href="{{ absolute_url(asset('bs-brain-timeline-7.css?t=' ~ 'now'|date('Y-m-d-H-i-s'), 'css')) }}">
{% endblock %}

{% block content %}

<div class="container bg-light">
    <div
        class="
            d-flex
            flex-row
            justify-content-start
            align-items-baseline
        "
    >
        <a
            class="pointer-primary ms-1 me-2"
            href="{{ absolute_url(path('cp_interview_question_add')) }}"
        >
            <svg class="bi bi-small" style="width:2.1em;height:2.1em;"><use xlink:href="#add"/></svg>
        </a>
        <h5 class="text-black me-2">New Interview Question</h5>
        <p class="text-secondary">Add a question you had or possibly will have on your interview.</p>
    </div>
</div>

<div class="container">
    <div
        class="
            row
            py-3
        "
        data-masonry='{"percentPosition": true, "itemSelector": ".col", "columnWidth": ".col", "horizontalOrder": true }'
    >
        {% for question in questions %}
        <div class="col col-12 col-md-4 col-lg-3 py-2">
                <div
                    class="bg-light p-2"
                    id="question-{{ question.id }}"
                >
                    <div>
                        <span class="badge text-muted fs-6">
                            {{ loop.index }}.
                        </span>

                        <span class="fs-5">
                            {{ question.title }}
                        </span>

                        {% if (question.answer ?? null) is not null and question.answer != '' %}
                            <svg class="bi bi-small"><use xlink:href="#checked"/></svg>
                        {% endif %}

                    </div>



                    <div
                        class="d-flex flex-row justify-content-between align-items-center border-top"
                    >
                        <a
                            href="{{ absolute_url(path('cp_interview_question_show', {'interviewQuestion': question.id})) }}"
                            class="text-decoration-none text-black fs-6"
                        >
                            <svg class="bi bi-small bi-fix pointer-primary"><use xlink:href="#view"></use></svg>
                        </a>

                        <span class="badge text-muted">
                            {{ question.category }}
                        </span>

                        <a
                            href="{{ absolute_url(path('cp_interview_question_edit', {'interviewQuestion': question.id})) }}"
                            class="text-decoration-none text-black fs-6"
                        >
                            <svg class="bi bi-small bi-fix pointer-primary"><use xlink:href="#edit"></use></svg>
                        </a>

                    </div>
                </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scriptsbottom %}
    {{ parent() }}
    <script src="{{ absolute_url(asset('masonry.pkgd.min.js?t=' ~ 'now'|date('Y-m-d-H-i-s'), 'js')) }}"></script>
{% endblock %}
