<div class="w-100 pt-2">
    <h1 class="fs-2">{% if job.title %}{{ job.title }}{% else %}Untitled{% endif %}</h1>

    {% if job.employer %}
        <div class="mb-3">
        {% if job.employer.title is defined %}
            <h2 class="fs-5">{{ job.employer.title }}
                {% if job.aboutPage %}
                    <a
                        href="{{ job.aboutPage }}"
                        class="text-decoration-none text-black fs-6"
                    >
                        <svg class="bi bi-small bi-fix pointer-primary"><use xlink:href="#view"></use></svg>
                    </a>
                {% endif %}
            </h2>
        {% endif %}
        </div>
    {% endif %}

    {% if (job.location ?? null) is not null %}
        <div class="text-secondary d-flex flex-row justify-content-start align-items-center flex-wrap">
            <svg class="bi bi-small me-1"><use xlink:href="#location"/></svg>

            {% if job.location.country %}
                <div class="flex-nowrap">
                    <span class="px-0 inline-divider">{{ text_inline_divider }}</span>
                    <span class="px-0 me-1 badge text-secondary">{{ job.location.country }}</span>
                </div>
            {% endif %}
            {% if job.location.city %}
                <div class="flex-nowrap">
                    <span class="px-0 inline-divider">{{ text_inline_divider }}</span>
                    <span class="px-0 me-1 badge text-secondary">{{ job.location.city }}</span>
                </div>
            {% endif %}
            {% if job.location.region %}
                <div class="flex-nowrap">
                    <span class="px-0 inline-divider">{{ text_inline_divider }}</span>
                    <span class="px-0 me-1 badge text-secondary">{{ job.location.region }}</span>
                </div>
            {% endif %}
        </div>
    {% endif %}

    {% set jobFormats = enum_values(job.formats ?? [], 'job_format') %}
    {% if jobFormats|length > 0 %}
        <div class="text-secondary d-flex flex-row justify-content-start align-items-center flex-wrap">
            <svg class="bi bi-small me-1"><use xlink:href="#suitcase"/></svg>
            {% for format in jobFormats %}
                <div class="flex-nowrap">
                    <span class="px-0 inline-divider">{{ text_inline_divider }}</span>
                    <span class="px-0 me-1 badge text-secondary">{{ format }}</span>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if job.contactPerson is defined and job.contactPerson %}
        <div class="text-secondary d-flex flex-row justify-content-start align-items-center flex-wrap">
            <svg class="bi bi-small me-1"><use xlink:href="#contact"/></svg>

            {% if job.contactPerson.firstName %}
                <div class="flex-nowrap">
                    <span class="px-0 inline-divider">{{ text_inline_divider }}</span>
                    <span class="px-0 me-1 badge text-secondary">{{ job.contactPerson.firstName }}</span>
                </div>
            {% endif %}
            {% if job.contactPerson.lastName %}
                <div class="flex-nowrap">
                    <span class="px-0 inline-divider">{{ text_inline_divider }}</span>
                    <span class="px-0 me-1 badge text-secondary">{{ job.contactPerson.lastName }}</span>
                </div>
            {% endif %}
            {% if job.contactPerson.contacts.email %}
                <div class="flex-nowrap">
                    <span class="px-0 inline-divider">{{ text_inline_divider }}</span>
                    <span class="px-0 me-1 badge text-secondary">{{ job.contactPerson.contacts.email }}</span>
                </div>
            {% endif %}
            {% if job.contactPerson.contacts.phone %}
                <div class="flex-nowrap">
                    <span class="px-0 inline-divider">{{ text_inline_divider }}</span>
                    <span class="px-0 me-1 badge text-secondary">{{ job.contactPerson.contacts.phone }}</span>
                </div>
            {% endif %}
            {% if job.contactPerson.contacts.link %}
                <div class="flex-nowrap">
                    <span class="px-0 inline-divider">{{ text_inline_divider }}</span>
                    <a
                        href="{{ job.contactPerson.contacts.link }}"
                        class="px-0 me-1 badge text-secondary d-inline"
                        target="_blank"
                    >{{ job.contactPerson.contacts.link }}</a>
                </div>
            {% endif %}
        </div>
    {% endif %}

    {% if jobSkills|length > 0 %}
        {% if jobSkills|length > 0 %}
            <hr>
            <div class="">
                <p class="my-1">
                    You have {{ jobSkillsMatched }} of {{ jobSkills|length }} in-demand skills:
                </p>
                <!-- Job SKills -->
                {% for skill in jobSkills %}
                    <span
                        class="
                                badge m-1
                                {% if skill.match %}bg-badge-primary{% else %}bg-transparent text-black{% endif %}
                            "
                    >{{ skill.title }}</span>
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}

    {% if (jobBenefits ?? null) is not null and jobBenefits|length > 0 %}
    <hr>
    <div>
        <h3>Job benefits:</h3>
        {% for benefit in jobBenefits %}
            {% if loop.index != 1 %}{{ text_inline_divider }}{% endif %}
            <span class="badge {% if benefit.match %}text-bg-success{% else %}text-bg-secondary{% endif %}">{{ benefit.name }}</span>
        {% endfor %}
        <p class="mt-1">
            You want {{ jobSkillsMatched }} of {{ jobBenefits|length }}
        </p>
    </div>
    {% endif %}

    <hr>
    <div>
        <ul class="list-unstyled">
            <li class="mb-3">
                <a
                    class="text-black text-decoration-none"
                    href="{{ absolute_url(path('cp_job_edit', {'job': job.id})) }}#anchor-attach-resume"
                >
                    <svg class="bi bi-small me-1"><use xlink:href="#upload"/></svg>
                </a>
                <span class="badge bg-badge-primary">Resume</span>


                {% if job.resume %}
                    <a
                        class="text-black text-decoration-none"
                        href="{{ job.resume.link }}"
                    >{{ job.resume.title ?? 'Untitled' }}</a>
                {% endif %}
            </li>

            <li>
                <a
                    class="text-black text-decoration-none"
                    href="{{ absolute_url(path('cp_job_edit', {'job': job.id})) }}#anchor-attach-cover-letter"
                >
                    <svg class="bi bi-small me-1"><use xlink:href="#upload"/></svg>
                </a>
                <span class="badge bg-badge-primary">Cover letter</span>

                {% if job.coverLetter %}
                    <a
                        class="text-black text-decoration-none"
                        href="{{ job.coverLetter.link }}"
                    >{{ job.coverLetter.title ?? 'Untitled' }}</a>
                {% endif %}
            </li>
        </ul>
    </div>

    {% if (job.content ?? null) is not null %}
    <hr>
    <h3>About job:</h3>
    <div>
        {{ job.content|markdown_to_html }}
    </div>
    {% endif %}

    {% if (job.estimateContent ?? null) is not null %}
    <hr>
    <h3>Estimate job:</h3>
    <div
    >
        {{ job.estimateContent|markdown_to_html }}
    </div>
    {% endif %}
</div>
