{% extends 'control-panel/index.html.twig'%}

{% block content %}
    <div class="container pt-2 pt-lg-5 bg-light py-5">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8" style="min-width: 300px;">
                {{ form_start(editForm,
                    {
                        'method': editForm.vars.method,
                        'attr': {
                            'id': editForm.vars.id,
                            'class': 'w-100'
                        }
                    }
                ) }}
                    {{ form_errors(editForm) }}

                    {{ form_row(editForm.title) }}
                    {{ form_row(editForm.jobTitle) }}

                    <div>
                        <hr>
                        <h3>Personal details</h3>

                        <div class="row mb-3">
                            <div class="col-3">
                                {% include 'control-panel/resume/form-photo.html.twig' with {'form': editForm.photo} only %}
                            </div>
                            <div class="col-9">
                                {{ form_row(editForm.firstName) }}

                                {{ form_row(editForm.lastName) }}

                                {{ form_row(editForm.includePhoto) }}
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-6">
                                {{ form_row(editForm.contacts.email) }}
                            </div>
                            <div class="col-6">
                                {{ form_row(editForm.contacts.phone) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                {{ form_row(editForm.contacts.location.country) }}
                            </div>
                            <div class="col-6">
                                {{ form_row(editForm.contacts.location.city) }}
                            </div>
                        </div>
                    </div>

                    <div>
                        <hr>
                        <h3>Professional summary</h3>
                        {{ form_row(editForm.professionalSummary,
                            {
                                'label': false,
                                'attr': {
                                    'class': 'd-none'
                                }
                            }
                        ) }}
                        <div
                            id="editor-for-{{ editForm.professionalSummary.vars.id }}"
                            class="editor-wysiwyg"
                        ></div>
                    </div>

                    <div>
                        <hr>
                        <h3>Skills</h3>
                        {{ form_row(editForm.skills,
                            {
                                'label': false,
                            }
                        ) }}
                    </div>

                    <div>
                        <hr>
                        <h3>
                            Employment History
                        </h3>
                        {% include 'control-panel/resume/form-employment-record.html.twig' with {'history': editForm.employmentHistory} only %}
                    </div>

                    <div>
                        <hr>
                        <h3>
                            Education History
                        </h3>
                        {% include 'control-panel/resume/form-education-record.html.twig' with {'history': editForm.educationHistory} only %}
                    </div>

                    <div>
                        <hr>
                        <h3>
                            Websites & Social Links
                        </h3>
                        {% include 'control-panel/resume/form-links-record.html.twig' with {'links': editForm.links} only %}
                    </div>

                    <div>
                        <hr>
                        <h3>
                            Languages
                        </h3>
                        {% include 'control-panel/resume/form-languages-record.html.twig' with {'languages': editForm.languages} only %}
                    </div>

                    {% if editForm._token is defined %}
                        {{ form_row(editForm._token) }}
                    {% endif %}
                {{ form_end(editForm, {'render_rest': false}) }}
                <hr class="mb-3">
                <div
                    class="d-none d-sm-flex flex-row justify-content-center align-items-center px-0 mx-0"
                >

                    <button
                        class="btn btn-primary rounded-0"
                        form="{{ editForm.vars.id }}"
                    >
                        Save
                    </button>
                    <button
                        class="btn btn-primary rounded-0 ms-2"
                        form="{{ editForm.vars.id }}"
                    >
                        Preview
                    </button>
                    <button
                        class="btn btn-primary rounded-0 ms-2"
                        form="{{ editForm.vars.id }}"
                    >
                        PDF
                    </button>
                </div>
            </div>

        </div>
    </div>

    <nav
        id="section--resume-edit-sidebar-nav"
        class=" action-btn-nav sidebar center left position-fixed d-none d-sm-flex d-flex flex-column justify-content-start align-items-start"
    >
        <button
            class="btn btn-primary bg-primary-hover rounded-0 mb-2 position-relative"
            form="{{ editForm.vars.id }}"
        >
            Save
        </button>
        <button
            class="btn btn-primary rounded-0 mb-2 position-relative"
            form="{{ editForm.vars.id }}"
        >
            Preview
        </button>
        <button
            class="btn btn-primary rounded-0 mb-2 position-relative"
            form="{{ editForm.vars.id }}"
        >
            PDF
        </button>
    </nav>

    <nav
        id="section--resume-edit-bottom-nav"
        class="action-btn-nav bottom left d-sm-none position-fixed d-flex flex-row justify-content-between align-items-center bg-light px-2"
    >
        <button
            class="btn btn-primary rounded-0 position-relative"
            form="{{ editForm.vars.id }}"
        >
            Save
        </button>
        <button
            class="btn btn-primary rounded-0 position-relative"
            form="{{ editForm.vars.id }}"
        >
            Preview
        </button>
        <button
            class="btn btn-primary rounded-0 position-relative"
            form="{{ editForm.vars.id }}"
        >
            PDF
        </button>
    </nav>
{% endblock %}
