<div class="accordion accordion-flush" id="section--accordion-wrapper-{{ links.vars.id }}">
    {% for record in links %}
        <div
            id="accordion-item-{{ record.vars.id }}"
            class="mb-2 record accordion-item {% if record.title.vars.value == null %}d-none{% endif %}"
        >
            <h2 class="accordion-header record-header">
                <a
                    class="accordion-button collapsed text-decoration-none"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#accordion-item-content-{{ record.vars.id }}"
                    aria-expanded="false"
                    aria-controls="accordion-item-content-{{ record.vars.id }}"
                >
                    <span
                        role="button"
                        class="me-3 btn-remove-record"
                        data-bs-toggle="modal"
                        data-bs-target="#widget--remove-record-modal"
                        data-target="#accordion-item-{{ record.vars.id }}"
                        data-target-add-more-records="#section--accordion-wrapper-{{ links.vars.id }}-add-more-records"
                    >
                        <svg class="bi bi-small bi-fix"><use xlink:href="#remove"/></svg>
                    </span>
                    <div
                        class="headline-text"
                    >
                        <span
                            id="{{ record.vars.id }}-headline-title"
                            data-content-default="Untitled"
                        >
                            {% if record.title.vars.value %}{{ record.title.vars.value }}{% else %}Untitled{% endif %}
                        </span>
                    </div>
                </a>
            </h2>
            <div id="accordion-item-content-{{ record.vars.id }}" class="accordion-collapse collapse" data-bs-parent="#section--accordion-wrapper-{{ links.vars.id }}">

                <div class="row">
                    <div class="col-6">
                        {{ form_row(record.title,
                            {
                                'attr':
                                {
                                    'data-content-target': '#' ~ record.vars.id ~ '-headline-title',
                                    'class': 'input-on-change-content-target'
                                }
                            }
                        ) }}
                    </div>
                    <div class="col-6">
                        {{ form_row(record.url,
                            {
                                'attr':
                                {
                                    'class': 'input-on-change-content-target'
                                }
                            }
                        ) }}
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}
</div>

<a
    id="section--accordion-wrapper-{{ links.vars.id }}-add-more-records"
    class="text-decoration-none text-info mt-2 d-inline-block add-more-records text-primary-hover"
    role="button"
    data-target="#section--accordion-wrapper-{{ links.vars.id }}"
>
    <svg class="bi bi-small bi-fix"><use xlink:href="#add"/></svg> Add more records
</a>
