<div class="accordion accordion-flush" id="section--accordion-wrapper-{{ history.vars.id }}">
    {% for record in history %}
        <div
            id="accordion-item-{{ record.vars.id }}"
            class="mb-2 record accordion-item {% if record.degree.vars.value == null %}d-none{% endif %}"
        >
            <h2 class="accordion-header">
                <a
                    class="accordion-button collapsed text-decoration-none"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#accordion-item-content-{{ record.vars.id }}"
                    aria-expanded="false"
                    aria-controls="accordion-item-content-{{ record.vars.id }}"
                >
                    <span
                        role="button"
                        class="me-3 btn-remove-record"
                        data-bs-toggle="modal"
                        data-bs-target="#widget--remove-record-modal"
                        data-target="#accordion-item-{{ record.vars.id }}"
                        data-target-add-more-records="#section--accordion-wrapper-{{ history.vars.id }}-add-more-records"
                    >
                        <svg class="bi bi-small bi-fix"><use xlink:href="#remove"/></svg>
                    </span>

                    <div
                        class="headline-text"
                    >
                        <div>
                            <span
                                id="{{ record.vars.id }}-headline-degree"
                                data-content-default="Untitled"
                            >{% if record.degree.vars.value %}{{ record.degree.vars.value }}{% else %}Untitled{% endif %}
                            </span>
                            <span
                                id="{{ record.vars.id }}-headline-school-title"
                            >{% if record.school.title.vars.value %}at {{ record.school.title.vars.value }}{% endif %}
                            </span>
                        </div>
                        <div>
                            <span
                                id="{{ record.vars.id }}-headline-start-date"
                                class="text-muted"
                            >{% if record.startDate.vars.value %}{{ record.startDate.vars.value|date('M,Y') }}{% endif %}
                            </span>
                            <span
                                id="{{ record.vars.id }}-headline-end-date"
                                class="text-muted"
                            >{% if record.endDate.vars.value %}- {{ record.endDate.vars.value|date('M,Y') }}{% endif %}
                            </span>
                        </div>
                    </div>
                </a>
            </h2>
            <div id="accordion-item-content-{{ record.vars.id }}" class="accordion-collapse collapse" data-bs-parent="#section--accordion-wrapper-{{ history.vars.id }}">

                <div class="row">
                    <div class="col-6">
                        {{ form_row(record.degree,
                            {
                                'attr':
                                {
                                    'data-content-target': '#' ~ record.vars.id ~ '-headline-degree',
                                    'class': 'input-on-change-content-target'
                                }
                            }
                        ) }}
                    </div>
                    <div class="col-6">
                        {{ form_row(record.school.title,
                            {
                                'attr':
                                {
                                    'data-content-type': 'schooltitle',
                                    'data-content-target': '#' ~ record.vars.id ~ '-headline-school-title',
                                    'class': 'input-on-change-content-target'
                                }
                            }
                        ) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        {{ form_row(record.startDate,
                            {
                                'attr':
                                {
                                    'data-content-type': 'startdate',
                                    'data-content-target': '#' ~ record.vars.id ~ '-headline-start-date',
                                    'class': 'input-on-change-content-target'
                                }
                            }
                        ) }}
                    </div>
                    <div class="col-6">
                        {{ form_row(record.endDate,
                            {
                                'attr':
                                {
                                    'data-content-type': 'enddate',
                                    'data-content-target': '#' ~ record.vars.id ~ '-headline-end-date',
                                    'class': 'input-on-change-content-target'
                                }
                            }
                        ) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        {{ form_row(record.school.contacts.location.country) }}
                    </div>
                    <div class="col-6">
                        {{ form_row(record.school.contacts.location.city) }}
                    </div>
                </div>

                {{ form_row(record.description,
                    {
                        'label': false,
                        'attr': {
                        'class': 'd-none'
                    }
                    }
                ) }}

                <div
                    id="editor-for-{{ record.description.vars.id }}"
                    class="editor-wysiwyg"
                ></div>
            </div>
        </div>
    {% endfor %}
</div>

<a
    id="section--accordion-wrapper-{{ history.vars.id }}-add-more-records"
    class="text-decoration-none text-info mt-2 d-inline-block add-more-records"
    role="button"
    data-target="#section--accordion-wrapper-{{ history.vars.id }}"
>
    <svg class="bi bi-small bi-fix"><use xlink:href="#add"/></svg> Add more records
</a>
