<div
    class="{{ articlePrefix }}socials text-center"
>

        {% for key,social in data.socials %}
            <div class="py-1 d-inline-block">
                {% if social.icon %}
                    <svg class="bi bi-small"><use xlink:href="#social-{{ social.icon }}"/></svg>
                {% else %}
                    <label class="text-bold">{{ social.label|capitalize }}</label>
                {% endif %}


                    <a
                        href="{{ social.link }}"
                        class="text-wrap text-decoration-none text-black pe-2"
                        target="_blank"
                    >
                        {{ social.link }}
                    </a>
            </div>
        {% endfor %}
</div>
