{% set routeCurrent = app.request.get('_route') %}
{% set isNotHomePage = routeCurrent != 'app_homepage' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% if meta is defined and meta.title is defined %}{{ meta.title }}{% elseif title is defined %}{{ title }}{% else %}Vladyslav Drybas Portfolio{% endif %}{% endblock %}</title>

    {% include 'meta.html.twig' %}

    <link rel="stylesheet" href="{{ absolute_url(asset('use-bootstrap-tag.min.css', 'css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('highlight.default.min.css', 'css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('css/bootstrap.min.css', 'bootstrap')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('css/bootstrap-icons.min.css', 'bootstrap')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('toastui-editor.min.css?t=' ~ 'now'|date('Y-m-d-H-i-s'), 'css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('style.css?t=' ~ 'now'|date('Y-m-d-H-i-s'), 'css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('loader.css?t=' ~ 'now'|date('Y-m-d-H-i-s'), 'css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('media.css?t=' ~ 'now'|date('Y-m-d-H-i-s'), 'css')) }}">

    {% block headstylesheets %}
    {% endblock %}
    {% block headscripts %}
    {% endblock %}

</head>

<body class="bg-dark-blue" data-locale="en">

{% include'analytics/google-tag.html.twig' %}

{% include'icons-navigation.html.twig' %}
{% include'icons-social.html.twig' %}

<div id="home" class="anchor invisible"></div>

<div id="page-wrapper" class="d-flex flex-column justify-content-start min-vh-100">
{% block header %}
{#    {% include 'components/header/top-contact-widget.html.twig' %}#}
{% endblock %}

    {% if isPrintPdf is defined and isPrintPdf == true %}
    {% else %}
    <div id="notification-flash-messages" class="pt-3 mt-5 position-fixed top-0 z-2 w-100">
        {% embed "_notification/flash/messages.flash.html.twig" %}{% endembed %}
    </div>
    {% endif %}

    <main class="position-relative w-100 d-flex flex-column justify-content-center align-items-center">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="position-relative">
        {% block footer %}
        {% endblock %}
    </footer>
</div>

<div aria-live="polite" aria-atomic="true" class="z-3" data-nosnippet>
    <div id="toast-list" class="toast-container top-0 end-0 p-3 mt-5">
    </div>
</div>

<div id="dom-templates" class="d-none" data-nosnippet>
    <div id="toast-template" class="d-none">
        <div class="toast rounded-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">{{ '{{title}}' }}</strong>
                <small class="text-body-secondary">{{ '{{dateTime}}' }}</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body bg-opacity-100 opacity-100">
                {{ '{{body}}' }}
            </div>
        </div>
    </div>
</div>

<!-- Contact Me Modal -->
<div class="modal fade" id="widget--hire-form-main-modal" tabindex="-1" aria-labelledby="widget--hire-form-main-modal-label" aria-hidden="true" data-nosnippet>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="widget--hire-form-main-modal-label">Send Me Your contacts to start our collaboration</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% include 'widgets/contact-me/request-call-back-form.html.twig' with {'suffix': 'main', 'form': forms.requestCallBack} only %}
            </div>
        </div>
    </div>
</div>

<!-- Remove Record Modal -->
<div class="modal fade" id="widget--remove-record-modal" tabindex="-1" aria-labelledby="widget--remove-record-modal-label" aria-hidden="true" data-nosnippet>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="widget--remove-record-modal-label">Remove Record</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to remove record?</p>
                <button
                    role="button"
                    class="btn btn-outline-dark btn-clean-record"
                    data-target=""
                    data-target-add-more-records=""
                    data-bs-dismiss="modal"
                    aria-label="Close"
                >
                    Delete
                </button>
                <button
                    role="button"
                    class="btn btn-primary"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                >
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<script src="{{ absolute_url(asset('js/bootstrap.bundle.min.js', 'bootstrap')) }}"></script>
<script src="{{ absolute_url(asset('jquery-3.7.1.min.js', 'js')) }}"></script>
<script src="{{ absolute_url(asset('use-bootstrap-tag.min.js', 'js')) }}"></script>
<script src="{{ absolute_url(asset('highlight.min.js', 'js')) }}"></script>
<script src="{{ absolute_url(asset('toastui-editor-all.min.js?t=' ~ 'now'|date('Y-m-d-H-i-s'), 'js')) }}"></script>
<script src="{{ absolute_url(asset('app.js?t=' ~ 'now'|date('Y-m-d-H-i-s'), 'js')) }}"></script>

<script type="application/javascript">
    const alerts = document.querySelectorAll(".alert");

    alerts && alerts.forEach((e) => e.addEventListener('click', function (e) {
        console.log(this);
        e.preventDefault();
        e.target.remove();
    }));

    function printTheJSONInPrettyFormat(json) {
        return JSON.stringify(JSON.parse(json), undefined, 4);
    }

    function toastShow(data) {
        const html = $("#toast-template").html()
            .replace("{{ '{{title}}' }}", data.title)
            .replace("{{ '{{dateTime}}' }}", data.dateTime)
            .replace("{{ '{{body}}' }}", data.message)
        ;

        const toastObj = $(html);

        $("#toast-list").append(toastObj);
        const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastObj);
        toastBootstrap.show();
    }

    function formatW3C(time) {
        const dateTime = new Date(time);
        const formattedDate = `${dateTime.getFullYear()}/${dateTime.getMonth() + 1}/${dateTime.getDate()} ${dateTime.getHours()}:${dateTime.getMinutes()}`;

        return formattedDate;
    }

    function toastServerError(response) {
        const data = $.parseJSON(response.responseText);
        const formattedDate = formatW3C(data.time);

        toastShow({
            'dateTime': formattedDate,
            'message': data.message,
            'title': 'Fail',
        });
    }

    document.addEventListener('DOMContentLoaded', (event) => {
        const codeJson = document.querySelectorAll("code.language-json");
        const inputTags = document.querySelectorAll(".input-tags");

        codeJson && codeJson.forEach((el) => {
            el.innerHTML = printTheJSONInPrettyFormat(el.innerHTML);
        });

        inputTags && inputTags.forEach((el) => {
            UseBootstrapTag(el);
        });
    })

    // prettify code json
    hljs.highlightAll();

    $('.form-to-submit').on('submit', function(event) {
        event.preventDefault();
        const me = $(this);


        return false;
    })

    $('.formSubmit').on('click', function(event, data) {
        event.preventDefault();
        const me = $(this);
        let loader = me;
        let messageTarget = me.attr('data-message-target');
        if (data !== undefined && data.loader !== undefined) {
            loader = data.loader;
        }
        console.log(messageTarget);
        if (messageTarget !== undefined) {
            messageTarget = $(messageTarget);
            messageTarget.text('');
            messageTarget.addClass('d-none');
        }

        loader.toggleClass('disabled btn-loading');
        loader.attr('disabled', false);

        const formId = me.prop('form');

        const form = $(formId);

        console.log(formId);
        console.log(loader);
        console.log(me);

        $.ajax({
            type: form.prop('method'),
            url: form.prop('action'),
            data: new FormData(document.getElementById(form.attr('id'))),
            // enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            cache: false,
        })
            .done(function(response) {
                console.log(response);
            })
            .always(function(data) {
                console.log(data);
                if (messageTarget !== undefined) {
                    if (data.message !== undefined) {
                        messageTarget.html(data.message);
                    }
                    messageTarget.removeClass('d-none');
                }
                loader.toggleClass('disabled btn-loading');
                loader.removeAttr('disabled');
            })
            .fail(function(response) {
                if (messageTarget !== undefined) {
                    const data = $.parseJSON(response.responseText);
                    if (data.message !== undefined) {
                        messageTarget.html(data.message);
                    }
                    messageTarget.removeClass('d-none');
                } else {
                    toastServerError(response)
                }
            })
        ;

        return false; // avoid to execute the actual submit of the form.
    })

</script>

<script type="application/javascript">
    const monthNames = ["January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December"
    ];
    const monthNamesShort = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
        "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
    ];
    const DIVIDER = {
        at: 'at',
        hyphen: '-'
    }

    let lineRollerCounter=0;

    $(document).ready(function() {
        function lineRollerLoop() {
            $(".line-roller").fadeOut(3000, function() {
                const me = $(this);
                const data = me.attr('data-context').split(',');
                const index = lineRollerCounter % data.length;
                $(this).html(data[index]).fadeIn(2000);
            });

            lineRollerCounter++;
        }

        const lineRollerLoopHandler = setInterval(lineRollerLoop, 5000);
    });

    $(".line-roller").fadeOut(2000, function() {
        const me = $(this);
        const data = me.attr('data-context').split(',');
        const index = lineRollerCounter % data.length;

        $(this).html(data[index]).fadeIn(1000);
    });

    $('.file-upload.with-preview').on('change', function(event) {
        const me = $(this);
        const output = $(me.attr('data-content-target'));
        if (event.target.files.length === 0) {
            output.addClass('d-none');

            return;
        }
        output.attr('src', URL.createObjectURL(event.target.files[0]));
        output.on('load', function() {
            URL.revokeObjectURL(output.attr('src')) // free memory
        });
        output.removeClass('d-none');
    });
</script>

<script type="application/javascript">
    $('.input-on-change-content-target').on('change', function() {
        const me = $(this);
        const output = $(me.attr('data-content-target'));
        const contentType = me.attr('data-content-type');

        let value = me.prop('value').trim();
        if (contentType !== undefined && contentType.endsWith('date')) {
            value = monthNamesShort[(new Date(value)).getMonth()] + ',' + (new Date(value)).getUTCFullYear();
        }
        if (contentType === 'enddate') {
            value = DIVIDER.hyphen + ' ' + value;
        } else if (contentType === 'schooltitle' || contentType === 'employertitle') {
            value = DIVIDER.at + ' ' + value;
        }
        if (contentType === 'select') {
            value = me.find('option:selected').text();
        }
        output.text(value);
    });

    $('.add-more-records').on('click', function () {
        const me = $(this);
        const target = $(me.attr('data-target'));
        const elems = target.find('.record.d-none');

        elems.first().removeClass('d-none');
        if (elems.length <= 1) {
            me.addClass('d-none');
        }
    })

    $('.btn-remove-record').on('click', function () {
        const me = $(this);
        const target = me.attr('data-target');
        const addRecordsTarget = me.attr('data-target-add-more-records');
        const modal = me.attr('data-bs-target');
        $(modal).find('.btn-clean-record')
            .attr('data-target', target)
            .attr('data-target-add-more-records', addRecordsTarget)
        ;
    })

    $('.btn-clean-record').on('click', function () {
        const me = $(this);
        const target = $(me.attr('data-target'));
        const addRecordsTarget = $(me.attr('data-target-add-more-records'));
        target.find('input').each((i,e)=> $(e).prop('value', null));
        target.find('textarea').each((i,e)=> $(e).prop('value', null));
        target.find('select').each((i,e)=> $(e).prop('value', null));
        const spans = target.find('.headline-text').find('span');
        spans.each((i,e)=> $(e).text(''));
        spans.first().text(spans.attr('data-content-default'));
        target.addClass('d-none');
        if (addRecordsTarget.hasClass('d-none')) {
            addRecordsTarget.removeClass(('d-none'));
        }
    })

    $('.target-value-change').on('click', function () {
        const me = $(this);
        document.getElementById(me.attr('data-target')).value=me.attr('data-target-value');
    })

    $(document).ready(function() {
        const Editor = toastui.Editor;
        const editors = $(this).find('.editor-wysiwyg');
        const editorConfig = {
            el: '',
            height: '21em',
            initialEditType: 'wysiwyg',
            initialValue: null,
            previewStyle: 'vertical',
            usageStatistics: false,
            language: 'en-US',
            hideModeSwitch: true,
            toolbarItems: [
                ['heading', 'bold', 'italic', 'strike'],
                ['hr', 'quote'],
                ['ul', 'ol', 'indent', 'outdent'],
                ['link'],
                ['code'],
            ]
        };

        editors.each(function(i,e) {
            // console.log('Init Editor WYSIWYG : #' + e.id);
            const target = $('#' + e.id.replace('editor-for-', ''));
            editorConfig.el = document.getElementById(e.id);
            editorConfig.initialValue = target.text();
            const editor = new Editor(editorConfig);

            editor.on('blur', function() {
                target.text(editor.getMarkdown());
            });
        });
    });
</script>

{% block scriptsbottom %}
{% endblock %}

</body>
</html>
