{% extends 'control-panel/index.html.twig'%}

{% block content %}
    <div class="container-fluid container-lg bg-light">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8" style="min-width: 300px;">
                {{ form_start(editForm,
                    {
                        'method': editForm.vars.method,
                        'attr': {
                        'id': editForm.vars.id,
                        'class': 'w-100'
                    }
                    }
                ) }}
                {{ form_errors(editForm) }}

                {{ form_row(editForm.title) }}

                {{ form_row(editForm.aboutPage) }}

                <div>
                    <hr>
                    <h3>Attach documents</h3>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <span id="anchor-attach-resume"></span>
                            {{ form_row(editForm.resumeId) }}
                        </div>
                        <div class="col-12 col-sm-6">
                            <span id="anchor-attach-cover-letter"></span>
                            {{ form_row(editForm.coverLetterId) }}
                        </div>
                    </div>
                </div>

                <hr>
                <h3>{{ editForm.location.vars.label }}</h3>
                {{ form_row(editForm.formats, {'label': false}) }}

                <div class="row mb-3">
                    <div class="col-6">
                        {{ form_row(editForm.location.country) }}
                    </div>
                    <div class="col-6">
                        {{ form_row(editForm.location.city) }}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-6">
                        {{ form_row(editForm.location.region) }}
                    </div>
                    <div class="col-6">
                        {{ form_row(editForm.location.address) }}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-6">
                        {{ form_row(editForm.location.postalCode) }}
                    </div>
                </div>

                <hr>
                {% include 'control-panel/job/employer-short.html.twig' with {'form': editForm.employer} only %}
                <hr>
                {% include 'control-panel/job/job-contact-person.html.twig' with {'form': editForm.contactPerson} only %}

                <div>
                    <hr>
                    <h3>{{ editForm.skills.vars.label }}</h3>
                    <span class="text-muted">{{ editForm.skills.vars.help }}</span>
                    {{ form_row(editForm.skills,
                        {
                            'label': false,
                            'help' : false,
                        }
                    ) }}
                </div>


                <div>
                    <hr>
                    <h3>{{ editForm.salary.vars.label }}</h3>
                    <span class="text-muted">{{ editForm.salary.vars.help }}</span>

                    <div class="row mb-3">
                        <div class="col-6">
                            {{ form_row(editForm.salary.min) }}
                        </div>
                        <div class="col-6">
                            {{ form_row(editForm.salary.max) }}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12">
                            {{ form_row(editForm.salary.period, {'label': false}) }}
                        </div>
                    </div>


                </div>

                <div>
                    <hr>
                    <h3>{{ editForm.content.vars.label }}</h3>
                    <span class="text-muted">{{ editForm.content.vars.help }}</span>
                    {{ form_row(editForm.content,
                        {
                            'label': false,
                            'help' : false,
                            'attr': {
                                'class': 'd-none'
                            }
                        }
                    ) }}
                    <div
                        id="editor-for-{{ editForm.content.vars.id }}"
                        class="editor-wysiwyg min-h-80"
                    ></div>
                </div>

                {% if editForm._token is defined %}
                    {{ form_row(editForm._token) }}
                {% endif %}
                {{ form_row(editForm.actionBtn) }}
                {{ form_end(editForm, {'render_rest': false}) }}
                <hr class="mb-3">
                {% include 'control-panel/form-submit-navigation-horizontal-only.html.twig' with {'form': editForm, 'actions': editFormActions} only %}

            </div>
        </div>
    </div>

    {% include 'control-panel/form-submit-navigation-with-sidebar.html.twig' with {'form': editForm, 'actions': editFormActions} only %}
{% endblock %}
