<div class="bg-light rounded-1 mt-2">
    <button
        class="
                text-break
                p-1
                m-0
                btn
                btn-toggle
                align-items-center
                rounded-0
                collapsed
                w-100
            "
        data-bs-toggle="collapse"
        data-bs-target="#section--job-list-column-{{ status }}-wrapper"
        aria-expanded="true"
    >
        {{ status|capitalize }}
    </button>

    <hr class="m-0">

    <div
        id="section--job-list-column-{{ status }}-wrapper"
        class="
            jobs-list
            list-group
            list-group-flush
            collapse show
            pt-1
            min-h-10
        "
        data-status="{{ status }}"
    >
        {% for job in jobs %}
            <div
                class="draggable-item list-group-item p-1 mb-1 lh-sm border border-1 dragula-item"
                data-job-id="{{ job.id }}"
            >
                <div class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1 text-small">
                        {% if job.title %}{{ job.title }}{% else %}Untitled{% endif %}
                    </strong>

                    <a
                        href="{{ absolute_url(path('cp_job_show', {'job': job.id})) }}"
                        class="
                                text-decoration-none
                                pointer-primary
                                px-1
                            "
                    >
                        <svg class="bi bi-small"><use xlink:href="#view"/></svg>
                    </a>
                    {% if job.employer.title is defined %}
                        <small>{{ job.employer.title }}</small>
                    {% endif %}
                </div>
                <div class="text-small">
                    <a
                        href="/employer-show"
                        class="
                            text-decoration-none
                            fw-bold
                            text-secondary
                        "
                    >Employer</a>
                </div>
                <div class="text-small text-muted">
                    <span class="list-kanban-item-subhead location">Location</span>{{ text_inline_divider }}
                    {% if job.employer.contacts.location.country is defined %}
                        {{ job.employer.contacts.location.country }}{{ text_inline_divider }}
                    {% endif %}
                    {% if job.employer.contacts.location.region is defined %}
                        {{ job.employer.contacts.location.region }}{{ text_inline_divider }}
                    {% endif %}
                    {% if job.employer.contacts.location.city is defined %}
                        {{ job.employer.contacts.location.city }}{{ text_inline_divider }}
                    {% endif %}
                    <span class="published-at-date">{{ date_diff(job.createdAt) }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
