<div class="bg-light rounded-1 mt-2">
    <button
        class="
                text-break
                p-1
                m-0
                btn
                btn-toggle
                align-items-center
                rounded-0
                collapsed
                w-100
            "
        data-bs-toggle="collapse"
        data-bs-target="#section--job-list-column-{{ status }}-wrapper"
        aria-expanded="true"
    >
        {{ status|capitalize }}
    </button>

    <hr class="m-0">

    <div
        id="section--job-list-column-{{ status }}-wrapper"
        class="
            jobs-list
            list-group
            list-group-flush
            collapse show
            pt-1
            min-h-10
        "
        data-status="{{ status }}"
    >
        {% for job in jobs %}
            <div
                class="draggable-item list-group-item p-1 mb-1 lh-sm border border-1 dragula-item"
                data-job-status = "{{ job.status.value }}"
                data-job-change-status-url="{{ absolute_url(path('api_job_status_change', {'job': job.id, 'status': job.status.value })) }}"
            >
                <div class="d-flex w-100 align-items-center justify-content-between">

                    <div>
                        <a
                            href="{{ absolute_url(path('cp_job_show', {'job': job.id})) }}"
                            class="text-decoration-none text-black fs-6"
                        >
                            <span>{% if job.title %}{{ job.title }}{% else %}Untitled{% endif %}</span>
                            <svg class="bi bi-small bi-fix pointer-primary"><use xlink:href="#view"></use></svg>
                        </a>
                    </div>

                    <a
                        href="{{ absolute_url(path('cp_job_edit', {'job': job.id})) }}"
                        class="
                                text-decoration-none
                                pointer-primary
                                px-1
                            "
                    >
                        <svg class="bi bi-small"><use xlink:href="#edit"/></svg>
                    </a>
                </div>

                <div class="mb-1 text-small text-secondary">
                    {% if job.employer.title is defined %}
                        at <span>{{ job.employer.title }}</span>
                    {% endif %}
                </div>

                {% if (job.location ?? null) is not null %}
                    <div class="text-secondary d-flex flex-row justify-content-start align-items-center flex-wrap">
                        <svg class="bi bi-small me-1"><use xlink:href="#location"/></svg>

                        {% if job.location.country %}
                            <div class="flex-nowrap">
                                <span class="px-0 inline-divider">{{ text_inline_divider }}</span>
                                <span class="px-0 me-1 badge text-secondary">{{ job.location.country }}</span>
                            </div>
                        {% endif %}
                        {% if job.location.city %}
                            <div class="flex-nowrap">
                                <span class="px-0 inline-divider">{{ text_inline_divider }}</span>
                                <span class="px-0 me-1 badge text-secondary">{{ job.location.city }}</span>
                            </div>
                        {% endif %}
                        {% if job.location.region %}
                            <div class="flex-nowrap">
                                <span class="px-0 inline-divider">{{ text_inline_divider }}</span>
                                <span class="px-0 me-1 badge text-secondary">{{ job.location.region }}</span>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}

                {% set jobFormats = enum_values(job.formats ?? [], 'job_format') %}
                {% if jobFormats|length > 0 %}
                    <div class="text-secondary d-flex flex-row justify-content-start align-items-center flex-wrap">
                        <svg class="bi bi-small me-1"><use xlink:href="#suitcase"/></svg>
                        {% for format in jobFormats %}
                            <div class="flex-nowrap">
                                <span class="px-0 inline-divider">{{ text_inline_divider }}</span>
                                <span class="px-0 me-1 badge text-secondary">{{ format }}</span>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                <span class="published-at-date">{{ date_diff(job.createdAt) }}</span>
            </div>
        {% endfor %}
    </div>
</div>
