{% extends 'control-panel/index.html.twig'%}

{% block content %}

    <div class="container bg-light">

        <div
            class="
                    d-flex
                    flex-row
                    justify-content-start
                    align-items-center
                    p-2
                    mt-0
                "
        >
            <a
                class="me-3 pointer-primary"
                href="{{ absolute_url(path('cp_job_add')) }}"
            >
                <svg class="bi bi-small" style="width:2.1em;height:2.1em;"><use xlink:href="#add"/></svg>
            </a>
            <h5 class="card-title me-3">New Job</h5>
            <p class="card-text text-secondary">Add a job description you want apply to.</p>
        </div>
    </div>

    <div class="container-fluid pe-5">
        <div class="row justify-content-center">
            <div
                class="
                    row
                    mt-3
                "
            >
                {% for status in jobStatuses %}
                    <div
                        class="
                            col-12
                            col-md-{{ colWidth }}
                        "
                    >
                        {% include 'control-panel/job/list-kanban-column.html.twig' with {'jobs': jobs[status], 'status': status} only %}
                    </div>

                {% endfor %}
            </div>

        </div>

        <div
            class="
                trash-column-fixed
            "
        >
            <a
                href="{{ absolute_url(path('cp_job_filter', {'status': 'archived'})) }}"
                class="text-danger text-decoration-none"
            >
                <svg class="bi bi-small mb-1" style="width:2.1em;height:2.1em;"><use xlink:href="#trash"/></svg>
            </a>
        <div
            id="section--job-list-column-archived-wrapper"
            data-status="archived"
            class="min-h-10"
        >
        </div>
        </div>

    </div>
{% endblock %}

{% block scriptsbottom %}
<script src="{{ absolute_url(asset('dragula.min.js', 'js')) }}"></script>

<script type="application/javascript">

    const jobStatusColumnIds = [
        {% for status in jobStatuses %}
        document.getElementById("section--job-list-column-{{ status }}-wrapper"),
        {% endfor %}
        document.getElementById("section--job-list-column-archived-wrapper"),
    ];

    const drake = dragula(jobStatusColumnIds);

    drake.on('drop', function (el, target, source, sibling) {
        console.log([
            el,
            target,
            source,
            sibling,
        ]);

        const newStatus = $(target).attr('data-status');
        const jobId = $(el).attr('data-job-id');
        console.log(newStatus);
        console.log(jobId);
        // TODO add ajax to change status
    });

</script>
{% endblock %}
